<div class="presentation-title-container">
	<h1 class="presentation-title-fr">Qui suis-je ?</h1>
	<h1 class="presentation-title-en">Who am I ?</h1>
</div>
<div class="presentation-content">
    <img class="presentation-content-picture" src="{{ asset('build/images/logo/profile_img_rnd.png') }}"/>
	<div class="presentation-content-description-fr">
        <img class="presentation-content-fr-flag-icon" src="{{ asset('build/images/icons/royaume-uni.png') }}"/>
        <h2 class="presentation-content-title">Hello World,</h2>
        <p class="presentation-content-text">
        Je suis <span>Vincent Dubresson</span>, Développeur Web & Mobile.
        Après 12 années d'expérience dans le secteur de la santé, j'ai décidé
        de me reconvertir dans les métiers de la Tech'. Je suis aujourd'hui
        en formation de Concepteur Développeur d'Application en alternance.
        </p>
        <div class="presentation-content-redirection">
            <img class="presentation-content-link-icon" src="{{ asset('build/images/icons/terminal.png') }}"/>
            <a class="presentation-content-link" href="#portfolio">Consulter mes réalisations</a>
        </div>
    </div>
    <div class="display-none presentation-content-description-en">
        <img class="presentation-content-en-flag-icon" src="{{ asset('build/images/icons/la-france.png') }}"/>
        <h2 class="presentation-content-title">Hello World,</h2>
        <p class="presentation-content-text">
            I am <span>Vincent Dubresson</span>, Web & Mobile Developer.
            After 12 years of experience in the health sector, I decided
            to retrain myself in Tech jobs. I am today
            training as an Application Designer Developer on a work-study basis.
        </p>
        <div class="presentation-content-redirection">
            <img class="presentation-content-link-icon" src="{{ asset('build/images/icons/terminal.png') }}"/>
            <a class="presentation-content-link" href="#portfolio">View my work</a>
        </div>
    </div>
</div>
